* {
    box-sizing: border-box !important;
}

body {
    background-color: rgb(23, 23, 23) !important;
}

#page-title, .graph-title {
    font-family: 'Poppins', sans-serif;
}

.graph-title {
    color: rgb(255, 92, 111);
    text-decoration: underline;
}

#about {
    color: white;
    text-decoration: none;
}

#title {
    color: white;
    text-decoration: underline;
}

.graph-title:hover {
    color: white;
}

#about:hover {
    color: rgb(255, 92, 111);
    text-decoration: underline;
}

#title:hover {
    color: rgb(255, 92, 111);
}

g > text{
    fill: white;
}

article {
    background-color: rgba(41, 41, 41, 0.555);
    padding: 30px 40px;
    border: 1.3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(14, 14, 14);
}

#navbar {
    background-color: rgb(23, 23, 23) !important;
}
