
body {
    background-color: rgb(23, 23, 23) !important;
    font-family: 'Poppins', sans-serif;
}

#page-title, .graph-title {
    font-family: 'Poppins', sans-serif;
}

.graph-title {
    color: #ff5c6f;
    text-decoration: underline;
}

.graph-title:hover {
    color: white;
}

#about {
    color: white;
    text-decoration: none;
}

#about:hover {
    color: rgb(255, 92, 111);
    text-decoration: underline;
}

#title {
    color: white;
    text-decoration: underline;
}

#title:hover {
    color: rgb(255, 92, 111);
}

g > text{
    fill: white;
}

/* region > g {
    transform="translate(-10,15)"
} */



.article {
    background-color: rgba(41, 41, 41, 0.555);
    border: 1.3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(14, 14, 14);
}

rect, svg {
    margin-left: -1rem;
}

#navbar {
    background-color: rgb(23, 23, 23) !important;
}

/* rect, svg {
    padding-left: 0;
    margin-left: 0;
} */

/* @media (min-width: 500px) and (max-width: 900px) {
    #article-container{
        margin-right: 0%;
        margin-left: 0%;
        width: 98% !important;
    }

}
 */
